---
layout: default
title: "Knowing more about Rap"
---

<h2 class="hex-primary page-title">About Me</h2>

<section class="grid-container">
 <div class="about-me__container container__flex mt-40">
  <div class="intro-img__section col-lg5 col-md5 align-content-center col-xs-12">
   <img src="{{site.baseurl}}/images/rap-about.png" class="intro-img__model" loading=lazy>
  </div>
 
  <div class="core-technologies__section col-offset-2 col-lg5 col-md5 col-xs-12">
   <h3 class="hex-dark mt-sm-30">My Core Technologies: </h3>
   <div class="core-technologies mt-md-30">
 
    <!-- Col 1 -->
    <div class="core core-code col-lg4">
     <i class="fas fa-laptop-code hex-primary core-icon"></i>
     <h4 class="hex-dark core-title hex-dark">Code</h4>
     <ul class="core-tech__list mt-40">
      <li class="core-tech">
       <h5 class="hex-dark">HTML</h5>
       <div class="stars">
        <i class="fa fa-star hex-accent"></i>
        <i class="fa fa-star hex-accent"></i>
        <i class="fa fa-star hex-accent"></i>
        <i class="fa fa-star hex-accent"></i>
        <i class="fa fa-star hex-accent"></i>
       </div>
      </li>
      <li class="core-tech">
       <h5 class="hex-dark">CSS</h5>
       <div class="stars">
        <i class="fa fa-star hex-accent"></i>
        <i class="fa fa-star hex-accent"></i>
        <i class="fa fa-star hex-accent"></i>
        <i class="fa fa-star hex-accent"></i>
        <i class="fa fa-star"></i>
       </div>
      </li>
      <li class="core-tech">
       <h5 class="hex-dark">Javascript</h5>
       <div class="stars">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
       </div>
      </li>
     </ul>
    </div>
 
    <!-- Col 2 -->
 
    <div class="core core-design col-lg4">
     <i class="fas fa-palette hex-primary core-icon"></i>
     <h4 class="hex-dark core-title hex-dark">Design</h4>
     <ul class="core-tech__list mt-40">
      <li class="core-tech">
       <h5 class="hex-dark">Adobe Photoshop</h5>
       <div class="stars">
        <i class="fa fa-star hex-accent"></i>
        <i class="fa fa-star hex-accent"></i>
        <i class="fa fa-star hex-accent"></i>
        <i class="fa fa-star hex-accent"></i>
        <i class="fa fa-star hex-accent"></i>
       </div>
      </li>
      <li class="core-tech">
       <h5 class="hex-dark">Adobe Illustrator</h5>
       <div class="stars">
        <i class="fa fa-star hex-accent"></i>
        <i class="fa fa-star hex-accent"></i>
        <i class="fa fa-star hex-accent"></i>
        <i class="fa fa-star hex-accent"></i>
        <i class="fa fa-star"></i>
       </div>
      </li>
      <li class="core-tech">
       <h5 class="hex-dark">Adobe XD</h5>
       <div class="stars">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
       </div>
      </li>
     </ul>
    </div>
 
 
   </div>
   <a href="#" class="btn btn-warning pr-lg20 mt-20" id="btnDownload">Download CV</a>
  </div>
 
 
 </div>
</section>

<section class="work-exp__section">
 <div class="section-title pt-50 pb-50 pb-sm-20">
  {% include bubble-title.html text='Work Experience '%}
 </div>
 <div class="works-container container__flex">

  <div class="works mt-40 pr-lg-30 pl-lg-30 pb-60">
   <div class="work-item">

    <!-- Work Col 1 -->
    <div class="work-content">
      <img src="../images/madaboutsolutions-logo.png" alt="Mad About Solutions" title="Mad About Solutions" class="work-img--mobile">
      <h6 class="work-company hex-accent">Mad About Solutions</h6>
      <h3 class="work-position hex-white">Web Development Associate</h3>
      <p class="work-date--mobile hex-white">August 2019 - Present</p>
      <p class="work-description hex-white mt-20">
       Handled WordPress based websites, managing them through FTP clients. Also developed sites provided by Graphic Designers
       from a PSD file.
       <br><br>
       Responsible also for providing User Manuals for usage of the clients' site.
      </p>
    </div>

    <!-- WOrk Col2 -->
    <div class="work-extras">
     <div class="work-date hex-white">August 2019 - Present</div>
     <img src="../images/madaboutsolutions-logo.png" alt="Mad About Solutions" title="Mad About Solutions" class="work-img mt-20">
    </div>
   </div>

   <div class="work-item">
   
    <!-- Work Col 1 -->
    <div class="work-content">
     <img src="../images/madaboutsolutions-logo.png" alt="Mad About Solutions" title="Mad About Solutions"
      class="work-img--mobile">
     <h6 class="work-company hex-accent">Mad About Solutions</h6>
     <h3 class="work-position hex-white">Web Development Associate</h3>
     <p class="work-date--mobile hex-white">August 2019 - Present</p>
     <p class="work-description hex-white mt-20">
      Handled WordPress based websites, managing them through FTP clients. Also developed sites provided by Graphic
      Designers
      from a PSD file.
      <br><br>
      Responsible also for providing User Manuals for usage of the clients' site.
     </p>
    </div>
   
    <!-- WOrk Col2 -->
    <div class="work-extras">
     <div class="work-date hex-white">August 2019 - Present</div>
     <img src="../images/madaboutsolutions-logo.png" alt="Mad About Solutions" title="Mad About Solutions"
      class="work-img mt-20">
    </div>
   </div>

   <div class="work-item">
   
    <!-- Work Col 1 -->
    <div class="work-content">
     <img src="../images/madaboutsolutions-logo.png" alt="Mad About Solutions" title="Mad About Solutions"
      class="work-img--mobile">
     <h6 class="work-company hex-accent">Mad About Solutions</h6>
     <h3 class="work-position hex-white">Web Development Associate</h3>
     <p class="work-date--mobile hex-white">August 2019 - Present</p>
     <p class="work-description hex-white mt-20">
      Handled WordPress based websites, managing them through FTP clients. Also developed sites provided by Graphic
      Designers
      from a PSD file.
      <br><br>
      Responsible also for providing User Manuals for usage of the clients' site.
     </p>
    </div>
   
    <!-- WOrk Col2 -->
    <div class="work-extras">
     <div class="work-date hex-white">August 2019 - Present</div>
     <img src="../images/madaboutsolutions-logo.png" alt="Mad About Solutions" title="Mad About Solutions"
      class="work-img mt-20">
    </div>
   </div>
   
  </div>
 </div>
</section>

<section class="other-tech__section">
  <div class="section-title pt-50">
   {% include bubble-title.html text='Other Technologies '%}
  </div>

  <div class="other-tech__container pt-30 pb-60">

   <div class="other-tech__category">
    <h4 class="hex-dark">Front End</h4>
     <ul class="other-tech__list mt-20">
      <li class="other-tech__item">*Jekyll</li>
      <li class="other-tech__item">*Bootstrap</li>
      <li class="other-tech__item">*SASS</li>
      <li class="other-tech__item">*Material Design</li>
      <li class="other-tech__item">*GSAP</li>
      <li class="other-tech__item">*Javascript API</li>
      <li class="other-tech__item">*Webpack</li>
     </ul>
   </div>

   <div class="other-tech__category">
    <h4 class="hex-dark">Front End</h4>
    <ul class="other-tech__list mt-20">
     <li class="other-tech__item">*Jekyll</li>
     <li class="other-tech__item">*Bootstrap</li>
     <li class="other-tech__item">*SASS</li>
     <li class="other-tech__item">*Material Design</li>
     <li class="other-tech__item">*GSAP</li>
     <li class="other-tech__item">*Javascript API</li>
     <li class="other-tech__item">*Webpack</li>
    </ul>
   </div>

   <div class="other-tech__category">
    <h4 class="hex-dark">Front End</h4>
    <ul class="other-tech__list mt-20">
     <li class="other-tech__item">*Jekyll</li>
     <li class="other-tech__item">*Bootstrap</li>
     <li class="other-tech__item">*SASS</li>
     <li class="other-tech__item">*Material Design</li>
     <li class="other-tech__item">*GSAP</li>
     <li class="other-tech__item">*Javascript API</li>
     <li class="other-tech__item">*Webpack</li>
    </ul>
   </div>

   <div class="other-tech__category">
    <h4 class="hex-dark">Front End</h4>
    <ul class="other-tech__list mt-20">
     <li class="other-tech__item">*Jekyll</li>
     <li class="other-tech__item">*Bootstrap</li>
     <li class="other-tech__item">*SASS</li>
     <li class="other-tech__item">*Material Design</li>
     <li class="other-tech__item">*GSAP</li>
     <li class="other-tech__item">*Javascript API</li>
     <li class="other-tech__item">*Webpack</li>
    </ul>
   </div>
   
  </div>
</section>

<section class="awards__section pt-50 pb-60">
  <div class="section-title">
   {% include bubble-title.html text='Awards &amp; Certifications '%}
  </div>
  
  <div class="grid-container award-container pt-40">
   
   <div class="award">
    <div class="award-content">
     <h4 class="hex-primary award-title">Modern Javscript From The Beginning</h4>
     <h6 class="hex-dark award-organizer mt-10">Udemy Course By Brad Traversy</h6>
     <h6 class="hex-dark award-date">August 2020</h6>
    </div>

    <a href="#" class="btn btn-primary pr-lg20">View Certficate</a>
   </div>

   <div class="award">
    <div class="award-content">
     <h4 class="hex-primary award-title">Modern Javscript From The Beginning</h4>
     <h6 class="hex-dark award-organizer mt-10">Udemy Course By Brad Traversy</h6>
     <h6 class="hex-dark award-date">August 2020</h6>
    </div>
   
    <a href="#" class="btn btn-primary pr-lg20">View Certficate</a>
   </div>

   <div class="award">
    <div class="award-content">
     <h4 class="hex-primary award-title">Modern Javscript From The Beginning</h4>
     <h6 class="hex-dark award-organizer mt-10">Udemy Course By Brad Traversy</h6>
     <h6 class="hex-dark award-date">August 2020</h6>
    </div>
   
    <a href="#" class="btn btn-primary pr-lg20">View Certficate</a>
   </div>

   <div class="award">
    <div class="award-content">
     <h4 class="hex-primary award-title">Modern Javscript From The Beginning</h4>
     <h6 class="hex-dark award-organizer mt-10">Udemy Course By Brad Traversy</h6>
     <h6 class="hex-dark award-date">August 2020</h6>
    </div>
   
    <a href="#" class="btn btn-primary pr-lg20">View Certficate</a>
   </div>

   <div class="award">
    <div class="award-content">
     <h4 class="hex-primary award-title">Modern Javscript From The Beginning</h4>
     <h6 class="hex-dark award-organizer mt-10">Udemy Course By Brad Traversy</h6>
     <h6 class="hex-dark award-date">August 2020</h6>
    </div>
   
    <a href="#" class="btn btn-primary pr-lg20">View Certficate</a>
   </div>

  </div>

</section>