---
layout: default
title: "Home"
meta: "a Front End Web Developer and a certified UI/UX Designer. Have a glimpse on what he does by viewing his accomplishments in this site."
image: "./images/meta-thumbnail-2020.jpg"
---

<section class="intro" id="pageHome">
 <div class="intro-content col-lg6 col-md6 align-content-center pl-lg-30 pr-lg-30 pt-md-40">
  <h2 class="head1 hex-primary">{{site.data.main.tagline}}</h2>
  <h5 class="intro-position hex-dark">{{site.data.main.occupation}}</h5>

  <div class="intro-buttons mt-30">
   <a href="#" class="btn btn-warning pr-lg20 mt-20 mr-20 mr-md-10" id="btnSeeProjects">See Projects</a>
   <a href="#" class="btn btn-primary mt-20 mr-md-10" id="btnDownload">Download Resume</a>
  </div>
 </div>

 <div class="intro-img__section col-lg6 col-md6 align-content-center mt-lg-40">
  <img src="{{site.baseurl}}/images/ralph.png" class="intro-img__model" loading=lazy>
 </div>
</section>

<section class="summary pt-60 pb-60 pr-lg-30 pl-lg-30">
 <div class="grid-container">
  <div class="summary-details__section">
   <div class="summary-who col-md6 col-sm12">
    <div class="summary-who__title pl-lg-30">
     {% include bubble-title.html text='Who I am '%}
    </div>

    <p class="hex-white pt-30 pr-30 pr-sm-10 align-content-center ">
     {{site.data.main.summary}}
    </p>
   </div>

   <div class="summary-what col-md6 col col-sm12">
    <div class="summary-what__title pl-lg-30 mt-md-40">
     {% include bubble-title.html text='What I do '%}
    </div>

    <div class="summary-what__specialties pl-20 pr-20 mt-sm-50">

     <!-- Loop for Specialties -->

     {% for specialty in site.data.specialties %}
       {% include specialty.html %}
     {% endfor %}
      
    </div>
   </div>
  </div>

  <div class="sample-projects__section mt-40">
   <div class="sample-projects__title pl-lg-30 pt-sm-40">
    {% include bubble-title.html text='Sample Projects '%}
   </div>

   <div class="sample-projects mt-40">

    <!-- Loop for Sample Projects -->
    {% for sample in site.samples %}
     {% include sample-projects.html %}
    {% endfor %}


   </div>
   <div class="container view-more__container">
    <a href="{{site.baseurl}}/portfolio" class="btn btn-warning pr-lg20 mt-20">View More Projects</a>
   </div>
  </div>

 </div>
</section>


{% include contact-form.html %}