@media #{$device-sm}{
  .contact-form__wrapper{
   flex-wrap:wrap;
   flex-direction: column-reverse;
 }

 .contact-form{
   border-top-left-radius: 0;
   border-bottom-right-radius: 24px;
 }

 .contact-form__content{
   border-bottom-right-radius: 0;
   border-top-left-radius: 24px;
   padding:40px 0;
 }

 .contact-form__question-container{
   padding-left:30px;
   padding-right:30px;
   display:none;
 }

 .contact-form__question-svg{
   width: 120px
 }

 .contact-form__question{
   font-size:16px;
 }

 .contact-form__inner{
   padding:30px 20px;
 }
 

}

@media #{$device-xs}{
   .contact-form__heading-container{
   flex-direction: column-reverse;
 }
}

@media #{$device-lg}{
  .contact-form__heading{
    margin-top:20px;
    font-size:1.25rem;
    text-align: center;
  }
}