@media #{$device-lg}{
  /* Insert code Desktop size here */

}

@media #{$device-md} {
 /* Insert code laptop size here */
  .header__wrapper{
    width:90vw;
    margin:0 auto;
  }
}


@media #{$device-sm} {
 /* Insert code tablet size here */
  header{
    padding:0;
  }

  .fa-bars{
    font-size:32px !important;
  }

  .header__wrapper{
    padding-left: 0.35rem;
    padding-right: 0.35rem;
  }
}

@media #{$device-xs} {
 /* Insert code mobile size here */

}