@media #{$device-sm}{
  .work-extras{
    display:none;
  }

  .work-img--mobile{
    width:130px;
    display:block;
    margin-bottom:20px;
  }

  .work-date--mobile{
    display:inline;
    padding-top:10px;
    font-size:14px;
  }

  .work-description{
    width:96%;
  }
}
