.avatar-circle{
  background: var(--accent);
  width:120px;
  height:120px;
  border-radius: 50%;
  overflow:hidden;
  position:relative;
  display:block;

  .avatar-img{
   object-fit: cover;
   width:95%;
   height:95%;
   position:absolute;
   top:10px;
   left:0;
  }
}

.avatar-container{
  display:flex;
  justify-content:center;
  align-items: center;
}