
/* Button Regulars  */
.btn-success{
  @include btn-background(color('success'));
}

.btn-danger{
  @include btn-background(color('danger'));
}

.btn-info{
  @include btn-background(color('info'));
}

.btn-warning{
  @include btn-background(color('warning'));
}

.btn-primary{
  @include btn-background(color('primary'));
}

.btn-tertiary{
  @include btn-background(color('tertiary'));
}

/* Button Circulary */

.btn-circle-primary{
  @include btn-circle-background(color('primary'));
}


.btn-circle-accent{
  @include btn-circle-background(color('accent'));
}


.btn-circle-tertiary{
  @include btn-circle-background(color('tertiary'));
}

/* Button Ghosts */

.btn-ghost-primary{
  @include btn-ghost-background(color('primary'));
}

.btn-ghost-accent{
  @include btn-ghost-background(color('accent'));
}

.btn-ghost-tertiary{
  @include btn-ghost-background(color('tertiary'));
}

.btn--animate{
  display:inline-block !important;
  width:max-content;
  animation:catch-attention 0.5s infinite forwards;
  animation-delay: 3s;
}