---
layout: diary
title: E-diary | Personal
slug: cat-personal
permalink: /
pagination: 
  category: Personal
  enabled: true
  collection: posts
  indexpage: e-diary/personal/index
---


<div class="diary-results__container">
 <p class="portfolio-results__label pl-xl-20">{{ site.categories.personal | size }} results found.</p>

 <div class="diary-results mt-30 mb-30">

  {% for chapter in paginator.posts %}
    {% include diary-card.html %}
  {% endfor %}

 </div>

{% include snippets/pager.html %}
</div>