.chapter__container{
 width:1130px;
 max-width:90%;
 margin:0 auto;
}

.chapter-heading{
 text-align: center;
}

.chapter-banner{
 width:100%;
 object-fit: cover;
 width: 1130px;
 max-width: 100%;
 height: 250px;

 @media #{$device-sm}{
   height:170px;
 }
}

.chapter-meta{
 text-align: center;
}

.chapter-sidebar{
 background: var(--tertiary);
 height:max-content;
 border-radius: 16px;
}


.chapter-content__normal,
.chapter-content__thumbnail,
.chapter-content__thumbnail-reverse{
 padding:10px 30px 10px 20px;
}

.sidebar-title{
 color:var(--white);
 padding:10px 20px;
}


.sidebar-categories__list{
 width:80%;
 margin:0 auto;

 .sidebar-category__item{
 position:relative;
 padding:12px 0 0 24px;

 &::after{
  content:'';
  width:12px;
  height:12px;
  background:var(--accent);
  border-radius: 50%;
  position:absolute;
  top:13px;
  left:4px;
 }

 .sidebar-category__link{
  color:var(--white);

  &:hover{
   text-decoration: underline;
  }
 }
}
}



/* Chapter Content */

.chapter-content__thumbnail,
.chapter-content__thumbnail-reverse{
 display:flex;
 align-items: center;
}

.chapter-content__thumbnail{
 p{
  padding-left:26px;
 }
 img{
   margin-right:15px;
 }
}

.chapter-content__thumbnail-reverse{
  justify-content: space-between;
 p{
  padding-right:26px;
 }
}

.chapter-category-meta{
  margin-bottom:20px;
}

.chapter-category{
  font-size:1.125rem;
  font-weight:var(--weight-normal);
}
.chapter-category:not(:last-of-type){
  &:after{
    content:',';
  }
}