.contact__container{
 display:flex;
 justify-content:center;
 align-items: center;
 flex-direction: column;

 .contact__item{
  display:flex;
  justify-content:center;
  align-items: center;
  margin-top:10px;

  i{
   margin-right:15px;
  }
 }
}

.help-warning{
 strong{
  font-size:18px;
 }
 p{
  display:inline;
  font-size:16px;
 }
}