.contact-form__section{
 border-radius:1rem;
}

.contact-form{
 background: #F1F8FF;
 border-top-left-radius: 24px;
 border-bottom-left-radius: 24px;
 box-shadow: 0 0 6px #ccc;
}

.contact-form__content{
 background:var(--primary);
 padding:40px 30px;
 border-top-right-radius: 24px;
 border-bottom-right-radius: 24px;
 box-shadow: 0 0 6px #ccc;
}

.contact-form__wrapper {
 display:flex;
}

.contact-form__inner{
 padding: 40px;
}

.form-group{
 label{
  font-size:25px;
  color:var(--primary);
  display:block;
  font-weight: var(--weight-bold);
 }
 input{
  width:95%;
  border-radius: 0.35rem;
  border:1px solid #CCCCCC ;
  outline:none;
  background-color:none;
  padding:5px 10px;
  height:20px;
 }

 textarea{
  width:95%;
  border-radius: 0.5rem;
  border-color:#CCCCCC !important;
  padding:5px 10px;
 }
}

.contact-form__heading-container, .contact-form__question-container{
 display:flex;
 justify-content:space-around;
 align-items: center;
}

.contact-form__question{
 font-size:1.5rem;
}

.contact-form__question-svg{
 width:180px;
}