.core-technologies{
 display:flex;
}
.core-technologies__section{
  display:flex;
  justify-content:space-around;
  flex-direction: column;

  a{
   display:table;
  }
}

 .core:not(:first-child){
   margin-left:60px;
 }

.core-icon{
  font-size:48px;
  display:inline;
}

.core-title{
 display:inline;
}

.fa-star{
 color: #CCCCCC;
}

.core-tech:not(:first-child){
  margin-top:20px;
}

.core-tech__list{
  padding-left:20px;
}