#wrapper{
  display:flex;
  flex-direction: column;
  position:relative;
  height: max-content;
  min-height:100vh;

  @media only screen and (max-width:600px){
   min-height:115vh !important;
  }
}

#main{
  flex: 1 0 auto;
}


footer{
  flex-shrink: 0;
}


.page-title, .page-description{
  text-align: center;
}

.page-description{
  width:680px;
  max-width:86%;
  margin:0 auto;
}

.section-title{
 width:max-content;
 margin:0 auto;
}