#wrapper{
  display:flex;
  flex-direction: column;
  position:relative;
  height: max-content;
  min-height:100vh;
}

#main{
  flex: 1 0 auto;
}


footer{
  flex-shrink: 0;
}


.page-title, .page-description{
  text-align: center;
}

.section-title{
 width:max-content;
 margin:0 auto;
}