.diaries__container{
 width:1200px;
 max-width:90%;
 margin:0 auto;

 .diary-categories__wrapper{
   width:860px;
   max-width:100%;
   margin:0 auto;
 }
}

.diary-categories__container{
 background: var(--tertiary);
 border-radius: 12px;
 margin:0 auto;
 width:100%;
}


.diary-category__item{

  padding:5px 10px;

  .diary-category__link{
   color:var(--white);
  }
}

.diary-category--active{
  &::after{
     content:'';
     width:100%;
     height:3px;
     background: var(--accent);
     display:block;
     margin-top:4px;
   }
}

.diary-categories{
 display:flex;
 justify-content:center;
 align-items: center;
 flex-wrap: wrap;

}

/* Category Result Item */

.diary-results{
 display:grid;
  grid-template-columns: 1fr 1fr;
  justify-items:center;
  gap:1.5rem 1rem;
}

.diary-result{
 width:100%;
 min-height:220px;
 display:flex;
 align-items: center;
 background: #fff;
 box-shadow: 1px 9px 8px -7px rgba(0,0,0,0.75);
 border-radius:12px;
}

.diary-result__img-container{
  width:50%;
  height:100%;
  overflow:hidden;
  border-top-left-radius:12px;
  border-bottom-left-radius:12px;

   .diary-result__img{
   width:100%;
   height:100%;
   object-fit: cover;
  }
}

.diary-result__content{
 width:50%;
 height:100%;
 padding:0 15px;
 display:flex;
 flex-direction: column;

 .diary-result__content-wrapper{
    flex: 1 0 auto;
 }
 .diary-result__paragraph{
  font-size:14px;
  padding-bottom:15px;
 }
 .diary-result__date{
  font-size:13px;
 }
 .diary-result__heading{
  margin-top:22px;
 }
 .diary-result__paragraph{
  margin-top:6px;
 }

 .btn{
    margin-bottom:15px;
  }
}

/* Filter */

.diary-filter__search{
  width:300px !important;
  max-width:100%;
}
.diary-results__filter{
  display:flex;
  justify-content:space-between;
  align-items: center;
}

.diary-filter__options{
  display:flex;
  justify-content:space-between;
  align-items: center;
  padding:0 0 0 20px;

  .diary-filter__option-item{
    padding:0 0 0 20px;
  }

  .diary-filter__option-link{
    color:var(--dark);
    &:hover{
      color:var(--accent);
    }

    i{
      color: var(--accent);
    }
  }
}