// Code footer css here
footer{
  background: var(--primary);
  color:#fff;

  p{
    text-align: center;
  }
}

.social-media__links{
  width:260px;
  margin:0 auto;
  display:flex;
  justify-content:space-between;
  align-items: center;
}

.footer-extras{
  width:100%;
  margin:0 auto;
  display:flex;
  justify-content:center;
  align-items: center;
  transition: all 0.4s ease-in-out;

  .footer-extras__link{
    &:hover{
      color:var(--accent) !important;
    }
  }
}