

header{
  background:var(--white);
  padding: 1.5rem 0;
  display:flex;
  justify-content: space-between;
  align-items: center;
  width: 1366px;
  margin:0 auto;
}

.header-logo__link{

  span:nth-of-type(1){
    color:var(--primary);
  }
  span:nth-of-type(2){
    color:var(--accent);
  }
}


