.summary{
 background: var(--primary);

 .summary-details__section{
  display:flex;
  width:100%;
  flex-wrap: wrap;
 }
}

.summary-who__title{
 position:relative;
}

.summary-who{
  padding:20px 0;
}

.summary-what{
  padding:20px 0;
}

.bubbles{
 position:absolute;

  .bubble{
   width: 34px;
   height: 34px;
   background:var(--accent);
   border-radius: 50%;
   position:absolute;
   top:-22px;
   right:4px;

   &:before{
    content:'';
    width: 18px;
    height: 18px;
    background:var(--accent);
    border-radius: 50%;
    top:42px;
    right: 7px;
    position:absolute;
   }

   &:after{
    content:'';
    width: 18px;
    height: 18px;
    background:var(--accent);
    border-radius: 50%;
    top:0;
    left: 42px;
    position:absolute;
   }
  }
}

.specialty-level{
 background:#EFEFEF;
 width:100%;
 height:10px;
 border-radius:10px;
 overflow:hidden;

 .specialty-inner{
  background:var(--accent);
  height:100%;
  border-radius:10px;
  transform:translateX(-100%);
 }
}

.sample-projects{
  display:grid;
  gap:1rem;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr) );
  align-items:center;
}


.sample-projects__title{
 display:block;
 max-width: 350px;
 margin: 0 auto;
}

.sample{
  max-width:400px;
  height:300px;
  border-radius: 1rem;
  cursor:pointer;
  position:relative;
  z-index: 1;
  overflow:hidden;
  transform: scale(0);
 

  &:hover > .sample-overlay{
     background:var(--warning);
      opacity:1;
  }
}

 h3{
    display:block;
  }
.sample-overlay__info{
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width:80%;
  display:flex;
  justify-content:center;
  align-items: center;
  flex-direction: column;
}
.sample-overlay{
   opacity:0;
   transition: all 0.5s ease-in-out;
   width: 100%;
   height: 100%;
   border-radius: 1rem;
   z-index: 3;
   position:absolute;
   display:block;
}


.sample-img{
  object-fit: cover;
  width:100%;
  height:100%;
  border-radius: 1rem;
  z-index: 2;
  position:absolute;
  transform:scale(1.1);
}

