<div class="diary-result">
 <div class="diary-result__img-container">
  <img src="{{ site.baseurl }}{{ chapter.image }}" alt="Diary Result" title="Diary Result" class="diary-result__img">
 </div>
 <div class="diary-result__content">
  <div class="diary-result__content-wrapper">
   <h5 class="hex-dark diary-result__heading">{{chapter.title}}</h5>
   <p class="diary-result__date hex-dark">{{ chapter.date | date: "%-d %B %Y" }}</p>
   <p class="diary-result__paragraph">
    {{ chapter.content | strip_html}}
   </p>
  </div>
  <a href="{{ chapter.url }}" class="btn btn-tertiary">Read Chapter</a>
 </div>
</div>