<!-- Favicons -->

<!-- Desktop -->
<link rel="icon" type="image/png" href="{{site.baseurl}}/assets/images/folkridge-favico-16x16.png" sizes="16x16">
<link rel="icon" type="image/png" href="{{site.baseurl}}/assets/images/folkridge-favico-32x32.png" sizes="32x32">
<link rel="icon" type="image/png" href="{{site.baseurl}}/assets/images/folkridge-favico-96x96.png" sizes="96x96">


<!-- IOS -->
<link rel="apple-touch-icon" sizes="60x60" href="{{site.baseurl}}/assets/images/folkridge-favico-60x60.png">
<link rel="apple-touch-icon" sizes="76x76" href="{{site.baseurl}}/assets/images/folkridge-favico-76x76.png">
<link rel="apple-touch-icon" sizes="120x120" href="{{site.baseurl}}/assets/images/folkridge-favico-120x120.png">
<link rel="apple-touch-icon" sizes="152x152" href="{{site.baseurl}}/assets/images/folkridge-favico-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="{{site.baseurl}}/assets/images/folkridge-favico-180x180.png">

<!-- Android -->
<link rel="manifest" href="/manifest.json">

<!-- Safari Pinned icon -->
<link rel="mask-icon" href="{{site.baseurl}}/assets/images/folkridge-favico-safari.svg" color>