<footer class="pt-30 pb-30">
  <p>Coded with love by Rap Esteva</p>
  <div class="social-media__links pt-20">
   <a href="#" target="_blank" class="social-media">
    <i class="fa fa-twitter"></i>
   </a>

   <a href="#" target="_blank" class="social-media">
    <i class="fab fa-linkedin-in"></i>
   </a>

   <a href="#" target="_blank" class="social-media">
    <i class="fas fa-envelope"></i>
   </a>

   <a href="#" target="_blank" class="social-media">
    <i class="fab fa-github"></i>
   </a>
  </div>
  <div class="footer-extras pt-20">
   <a href="#" target="_blank" class="footer-extras__link hex-white">Site info</a> <span
    class="footer-extra__seperator pr-10 pl-10">|</span>
   <a href="#" target="_blank" class="footer-extras__link hex-white">Alternate Profile</a>
  </div>
</footer>