
<!-- Other half of main -->
</div>

<footer class="pt-30 pb-30">
  <p>Coded with <i class="fas fa-heart"></i> by Rap Esteva</p>
  <div class="social-media__links pt-20">
    <a href="https://twitter.com/Rapunk77" target="_blank" class="btn-circle-accent">
      <i class="fab fa-twitter"></i>
    </a>

    <a href="https://www.linkedin.com/in/ralph-martyn-esteva" target="_blank" class="btn-circle-accent">
      <i class="fab fa-linkedin-in"></i>
    </a>

    <a href="mailto:rapsamaniego27@gmail.com" target="_blank" class="btn-circle-accent">
      <i class="fas fa-envelope"></i>
    </a>

    <a href="https://github.com/rapsamaniego27" target="_blank" class="btn-circle-accent">
      <i class="fab fa-github"></i>
    </a>
  </div>
  <div class="footer-extras pt-20">
    <a href="{{ site.baseurl }}/site-info" class="footer-extras__link hex-white">Site info</a> <span
      class="footer-extra__seperator pr-10 pl-10">|</span>
    <a href="#" target="_blank" class="footer-extras__link hex-white">Alternate Profile</a>
  </div>
</footer>

<!-- Row Menu Overlay -->
<div class="menu-overlay" id="menuOverlay">
  <a href="#" target="_blank" class="menu-close hex-white menu--disable" id="menuClose"><i
      class="fas fa-times-circle"></i></a>
  <ul class="menu-nav" id="menuNav">
    <li class="menu-item">
      <a href="{{site.baseurl}}/" class="menu-link hex-white disable">Home</a>
    </li>
    <li class="menu-item">
      <a href="{{site.baseurl}}/portfolio/" class="menu-link hex-white disable">Portfolio</a>
    </li>
    <li class="menu-item">
      <a href="{{site.baseurl}}/about-me/" class="menu-link hex-white disable">About Me</a>
    </li>
    <li class="menu-item">
      <a href="{{site.baseurl}}/e-diary/" class="menu-link hex-white disable">E-diary</a>
    </li>
    <li class="menu-item">
      <a href="{{site.baseurl}}/contact/" class="menu-link hex-white disable">Contact</a>
    </li>
  </ul>
</div>
<!-- End Menu Overlay -->

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.min.js"
  integrity="sha512-IQLehpLoVS4fNzl7IfH8Iowfm5+RiMGtHykgZJl9AWMgqx0AmJ6cRWcB+GaGVtIsnC4voMfm8f2vwtY+6oPjpQ=="
  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/ScrollTrigger.min.js"
  integrity="sha512-wK2NuxEyN/6s53M8G7c6cRUXvkeV8Uh5duYS06pAdLq4ukc72errSIyyGQGYtzWEzvVGzGSWg8l79e0VkTJYPw=="
  crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
  integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
  crossorigin="anonymous" />
<script src="{{site.baseurl}}/dist/app.js" defer></script>
</body>

</html>