<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

<head>
  {% capture description %}
  
    {% if page.meta %}
    {{ page.meta }}
    {% else %}
    {{ page.excerpt | strip_html | truncatewords: 150 }}
    {% endif %}
  
  {% endcapture %}
 <meta name="viewport" content="width=device-width, initial-scale=1">
 <meta name="og:title" property="og:title" content="{{ site.title }} | {{ page.title }} ">
 <meta name="description"
  content=" {{ description }}">
 <meta property="og:image" content="{{ page.image }}">
 <meta property="og:url" content="https://rapesteva.netlify.app/">


 <title>{{ site.title }} | {{ page.title }} | {{ description }}</title>

 <!-- Row Styles -->
 <link rel="stylesheet" href="{{site.baseurl}}/dist/style.min.css">
 <link rel="shortcut icon" href="#">
</head>

<body>

 <div id="wrapper">
  <header class="header">
   <div class="header__wrapper">
    <div class="header-logo__section">
     <a href="{{site.baseurl}}/index.html" class="header-logo__link">
      <h3><i class="fas fa-home hex-primary"></i>&nbsp;<span>Rap</span> <span>Esteva</span></h3>
     </a>
    </div>
    <a href="#" target="_blank" class="menu-bars" id="menuOpen">
     <i class="fas fa-bars fa-3x"></i>
    </a>
   </div>
  </header>

  <!-- First half of main -->
  <div id="main">
