<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

<head>

{% include snippets/seo.html %}
{% include favicos.html %}


 <title>{{ site.title }} - {{ meta_title }}</title>

 <!-- Row Styles -->
 <link rel="stylesheet" href="{{site.baseurl}}/dist/style.min.css">
 <link rel="shortcut icon" href="#">
</head>

<body>

 <div id="wrapper">
  <header class="header">
   <div class="header__wrapper">
    <div class="header-logo__section">
      <a href="{{site.baseurl}}/">
        <img src="{{site.baseurl}}/images/logo.svg" alt="{{site.title}} Logo" title="{{site.title}} Logo" class="header-logo">
      </a>
     <a href="{{site.baseurl}}/" class="header-logo__link">
      <h3>
        &nbsp;<span>Rap</span> <span>Esteva</span>
      </h3>
     </a>
    </div>
    <a href="#" target="_blank" class="menu-bars" id="menuOpen">
     <i class="fas fa-bars fa-3x"></i>
    </a>
   </div>
  </header>

  <!-- First half of main -->
  <div id="main">
