<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

<head>
  <!-- Got this loop from the Pages Collection -->
  {% assign seo = site.pages | where:"permalink", page.url | first %}


  {% if seo.title %}
    {% assign meta_title = seo.title %}
  {% else %}
    {% assign meta_title = page.title %}
  {% endif %}

  {% if seo.meta_description %}
     {% assign meta_description = seo.meta_description  %}
  {% else%}
     {% assign meta_description = page.description  %}
  {% endif %}

  <!-- Make a condition if there is an existing meta image or else use a default one -->
  {% if seo.meta_image%}
    {% assign meta_image = site.url | append: seo.meta_image %}
  {% elsif page.banner %}
    {% assign meta_image = site.url | append: page.banner %}
  {% else %}
    {% assign meta_image = "https://github.com/rapsamaniego27/portfolio-2020/blob/master/images/meta-thumbnail-2020.jpg?raw=true" %}
  {% endif %}

 <meta name="viewport" content="width=device-width, initial-scale=1">
 <meta name="og:title" property="og:title" content="{{ site.title }} - {{ meta_title }}">
 <meta name="description" content="{{ meta_description }}">
 <meta property="og:image" content="{{ meta_image }}">
 <meta property="og:url" content="{{ site.url }}{{ page.url }}">
 <meta name="author" content="{{site.title}}">


 <title>{{ site.title }} - {{ meta_title }} | {{ meta_description | strip_html }}</title>

 <!-- Row Styles -->
 <link rel="stylesheet" href="{{site.baseurl}}/dist/style.min.css">
 <link rel="shortcut icon" href="#">
</head>

<body>

 <div id="wrapper">
  <header class="header">
   <div class="header__wrapper">
    <div class="header-logo__section">
     <a href="/" class="header-logo__link">
      <h3><i class="fas fa-code hex-primary"></i>&nbsp;<span>Rap</span> <span>Esteva</span></h3>
     </a>
    </div>
    <a href="#" target="_blank" class="menu-bars" id="menuOpen">
     <i class="fas fa-bars fa-3x"></i>
    </a>
   </div>
  </header>

  <!-- First half of main -->
  <div id="main">
