<div class="modal__overlay">
 <div class="modal">
  <div class="modal__guts">
   <div class="modal__heading pt-30">
    <h3 class="hex-primary modal__title">Management Information System
     for Development Academy of the Philippines</h3>
    <p class="blurb2 hex-dark modal__date">Created: February 16</p>
   </div>

   <div class="modal__content mt-30 mb-30 ml-30 mr-30">
    <img src="../images/admin-panel.JPG" alt="modal-img" title="modal-img" class="modal__img">
    <div class="modal__info pl-30 pr-30">
     <h4 class="hex-dark">Description</h4>
     <p class="modal__desc pt-10">This system is composed of 3 Subsystems.
      An Employee Management, a Performance Evaluation and
      a Property Management System. The system was developed to improve the internal process within the company.
     </p>

     <h4 class="hex-dark pt-20">Technologies Used:</h4>
     <div class="modal__tech pt-10">
      <div class="tag">
       <p>PHP</p>
      </div>

      <div class="tag">
       <p>Mysql</p>
      </div>

      <div class="tag">
       <p>Laravel</p>
      </div>

      <div class="tag">
       <p>Apache</p>
      </div>

      <div class="tag">
       <p>Bootstrap</p>
      </div>

      <div class="tag">
       <p>Javascript</p>
      </div>

      <div class="tag">
       <p>HTML</p>
      </div>

      <div class="tag">
       <p>CSS</p>
      </div>

      <div class="tag">
       <p>Jquery</p>
      </div>

      <div class="tag">
       <p>Bootswatch</p>
      </div>

      <div class="tag">
       <p>Sublime</p>
      </div>

      <div class="tag">
       <p>GoDaddy</p>
      </div>

      <div class="tag">
       <p>Github</p>
      </div>

      <div class="tag">
       <p>Heidi</p>
      </div>

     </div>
    </div>
   </div>
  </div>
 </div>
</div>