<div class="modal__overlay modal--hide" id="modalOverlay">
  
 <div class="modal">
  <a href="#" target="_blank" class="modal-close" id="modalClose">
   <i class="fas fa-times modalCloseIcon"></i>
  </a>
  <div class="modal__guts">
   <div class="modal__heading pt-30">
    <h3 class="hex-primary modal__title" id="modalTitle">Management Information System
     for Development Academy of the Philippines</h3>
    <p class="blurb1 hex-dark modal__date mt-xl-10" id="modalDate">Created: February 2016</p>
   </div>

   <!-- Row Content -->
   <div class="modal__content mt-30 mb-30 ml-30 mr-30">
    <img src="/images/ralph.png" alt="Rap Esteva" title="Rap Esteva" class="modal__img" id="modalMainImage">
    <div class="modal__info pl-30 pr-30 pl-md-10 pr-md-10 pt-xl-20">
     <h4 class="hex-dark">Description</h4>
     <p class="modal__desc pt-10 blurb2" id="modalDesc">This system is composed of 3 Subsystems.
      An Employee Management, a Performance Evaluation and
      a Property Management System. The system was developed to improve the internal process within the company.
     </p>

    </div>

    <div class="modal__tags-list pl-30 pr-30 pr-xl-10 pl-xl-10">
      <h4 class="hex-dark pt-20">Technologies Used:</h4>
      
      <!-- List of Tags -->
      <div class="modal__tech pt-10" id="modalTech">
       <div class="tag" style="background: #DDC0FF;">
        <p>PHP</p>
       </div>
      
       <div class="tag" style="background: #DDC0FF;">
        <p>Mysql</p>
       </div>
      
       <div class="tag" style="background: #DDC0FF;">
        <p>Laravel</p>
       </div>
      
       <div class="tag" style="background: #DDC0FF;">
        <p>Apache</p>
       </div>
      
       <div class="tag" style="background: #DDC0FF;">
        <p>Bootstrap</p>
       </div>
      
       <div class="tag" style="background: #DDC0FF;">
        <p>Javascript</p>
       </div>
      
       <div class="tag" style="background: #DDC0FF;">
        <p>HTML</p>
       </div>
      
       <div class="tag" style="background: #DDC0FF;">
        <p>CSS</p>
       </div>
      
       <div class="tag" style="background: #DDC0FF;">
        <p>Jquery</p>
       </div>
      
       <div class="tag" style="background: #DDC0FF;">
        <p>Bootswatch</p>
       </div>
      
       <div class="tag" style="background: #DDC0FF;">
        <p>Sublime</p>
       </div>
      
       <div class="tag" style="background: #DDC0FF;">
        <p>GoDaddy</p>
       </div>
      
       <div class="tag" style="background: #DDC0FF;">
        <p>Github</p>
       </div>
      
       <div class="tag" style="background: #DDC0FF;">
        <p>Heidi</p>
       </div>
      
       <div class="tag" style="background: #DDC0FF;">
        <p>Javascript</p>
       </div>
      
      </div>
      <!-- End of Tags -->
    </div>
   </div>
   <!-- End Content -->

   <div class="modal__collaborators__section mt-10 mb-30 ml-30 mr-30 mb-sm-40">
    <h4 class="hex-dark pt-20">Collaborators:</h4>
    <ul class="modal__collaborators__children ml-20" id="collaborators">
      <li class="modal__collaborator__item">
         <i class="fas fa-user-circle hex-primary"></i>
         <a href="#" target="_blank" class="modal__collaborator__link">
           Darwin Importante
           <span class="modal__collaborator__pos">Web Developer</span>
          </a> 
      </li>
      <li class="modal__collaborator__item">
         <i class="fas fa-user-circle hex-primary"></i>
         <span>
           Feliz Navidad
           <span class="modal__collaborator__pos">Web Developer</span>
        </span>
      </li>
      <li class="modal__collaborator__item">
         <i class="fas fa-user-circle hex-primary"></i>
         <a href="#" target="_blank" class="modal__collaborator__link">
           Soleil Olandez
           <span class="modal__collaborator__pos">Web Developer</span>
          </a> 
      </li>
      <li class="modal__collaborator__item">
         <i class="fas fa-user-circle hex-primary"></i>
         <a href="#" target="_blank" class="modal__collaborator__link">
           Hiro Angelo
           <span class="modal__collaborator__pos">Web Developer</span>
          </a> 
      </li>
    </ul>
   </div>

   <div class="modal__gallery mt-30 mb-30 ml-30 mr-30 mb-sm-40">
    <h4 class="hex-dark" id="galleryTitle">Other Images:</h4>

    <div class="modal__gallery-images mt-30 mb-30 mt-xl-10" id="modalGallery">
     <img src="" alt="Image" title="Image" class="modal__gallery-image">
  
    </div>
   </div>
  </div>
 </div>
</div>