<div class="work-item">

 <!-- Work Col 1 -->
 <div class="work-content">
  <img src="../images/madaboutsolutions-logo.png" alt="Mad About Solutions" title="Mad About Solutions"
   class="work-img--mobile">
  <h6 class="work-company hex-accent">{{ job.company }}</h6>
  <h3 class="work-position hex-white">{{ job.position }}</h3>
  <p class="work-date--mobile hex-white">{{ job.start_date }} - {% if job.end_date == '' %} Present {% else %}  {{job.end_date}} {% endif %}</p>
  <p class="work-description hex-white mt-20">
   {{ job.description }}
  </p>
 </div>

 <!-- WOrk Col2 -->
 <div class="work-extras">
  <p class="work-date hex-white">{{ job.start_date }} - {% if job.end_date == '' %} Present {% else %} {{ job.end_date }} {% endif %}</p>
  <img src="{{site.baseurl}}{{job.logo}}" alt="{{ job.company }}" title="{{ job.company }}"
   class="work-img mt-20">
 </div>
</div>