---
layout: diary
title: E-diary | Sports
slug: cat-sports
permalink: /
pagination: 
  category: Sports
  enabled: true
  collection: posts
  indexpage: e-diary/sports/index
---


<div class="diary-results__container">
 <p class="portfolio-results__label pl-xl-20">{{ site.categories.Sports | size }} results found.</p>

 <div class="diary-results mt-30 mb-30">

  {% for chapter in paginator.posts %}
    {% include diary-card.html %}
  {% endfor %}

 </div>

{% include snippets/pager.html %}
</div>