$spaceamounts: (0.5, 1, 1.5, 2, 3); // Adjust this to include the pixel amounts you need.
$sides: (top, bottom, left, right); // Leave this variable alone


@each $side in $sides{

  // Margins
  @each $space in $spaceamounts {
    .m#{str-slice($side, 0, 1)}-#{index($spaceamounts, $space)} {
      margin-#{$side}: #{$space}rem !important; 
    }
  }

  // Paddings
  @each $space in $spaceamounts {
    .p#{str-slice($side, 0, 1)}-#{index($spaceamounts, $space)} {
      padding-#{$side}: #{$space}rem !important; 
    }
  }
  
}


// Spacing Autos
@each $side in $sides{
  .m#{str-slice($side, 0, 1)}-auto {
    margin-#{$side}:auto !important; 
  }
  .p#{str-slice($side, 0, 1)}-auto {
    padding-#{$side}:auto !important; 
  }
}

.m-auto{
  margin: 0 auto !important;
}
.p-auto{
  padding: 0 auto !important;
}


