@keyframes show-element{
  0%{opacity:0.9}
  25%{opacity:0.6}
  50%{opacity:0.4}
  67%{opacity:0}
  75%{opacity:0.5}
  100%{opacity:1}
}

.show-element{
  animation: show-element 2s;
}



@keyframes bounce{
  0%{
    transform: scale(1);
    
  }

  50%{
    transform: scale(1.35);
    
  }

  100%{
    transform: scale(1);
    
  }
}

@keyframes catch-attention{
  0%{transform: scale(1);}
  50%{transform: scale(1.2);}
  60%{transform: rotate(-6deg);} 
  70%{transform: rotate(6deg);}
  80%{transform: rotate(-6deg);}
  100%{transform: rotate(6deg);}
}
