
/* Adding a background for the buttons */
@mixin btn-background($background){
  @extend %btn;
  background-color:$background;
  color:#fff;
  
  &:hover{
    background:darken($background, 8%);
    transition: all 0.3s ease;
    color:darken(#fff, 1%);
  }
  &:active{
    background:darken($background, 14%);
    transition: all 0.3s ease;
    color:darken(#fff, 5%);
  }

  &:focus{
     outline: 0;
     box-shadow: 0 0 0 2px transparent, 0 0 0 3px $background;
  }
}


//Media query to stack Elements
//Pass in the Media query here
@mixin media-stack-elements($media-query){
  @media #{$media-query}{
    display: block;
    width: 100%;
  }
}


/* Generates Typographic elements and sizes */
@mixin generateTextElements($text-elements){
  @each $element, $properties in $text-elements{

  /* The element */
  #{$element}{
    
    font-size:map-get($properties, size);
    font-weight:map-get($properties, weight);

    /* Checks if it has mobile size property */
    @if map-has-key($properties, mobile-size){
      $mobile-size:map-get($properties, mobile-size);

      @media only screen and (max-width:840px){
        font-size: $mobile-size;
      }
    }
    
  }
}

}

/* Mixin to create triangles */

@mixin triangle($size, $side, $left:0, $top:0, $color:#073763){
  position:relative;

  &::after{
    content: '';
    position:absolute;
    left:$left;
    top:$top;
    border:$size solid transparent;
    border-#{$side}-color: $color;
  }
}


@mixin btn-circle-background($background){
  
  background:$background !important;
  color:#fff;
  width:40px;
  height:40px;
  border-radius: 50%;
  display:inline-block;
  position:relative;
  margin:0 5px;

  &:hover{
    animation: bounce 0.4s cubic-bezier( 0.68, -0.55, 0.265, 1.55 );
  }

  i{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size:1.2rem;
  }

}

/* Adding a background for the buttons */
@mixin btn-ghost-background($background){
  @extend %btn;
  border:1px solid $background !important;
  color:$background;
  
  &:hover{
    background:$background;
    transition: all 0.3s ease;
    color: var(--white);
  }

  &:focus{
     outline: 0;
     border:0;
  }
}