---
layout: default
---

<div class="portfolio-page__container">
 <h2 class="page-title">{{ site.data.page-metas.portfolio_title }}</h2>
 <p class="hex-dark page-description pt-20 ml-xl-20 mr-xl-20">
   {{ site.data.page-metas.portfolio_description }}
 </p>
 

 <div class="portfolio-container mt-30">
  <!-- Row Options -->
  <ul class="portfolio-options">
   <li class="portfolio-item">
    <a href="#" target="_blank" class="btn btn-ghost-accent portfolio-link portfolio-option portfolio-link--active" data-project-type="Javascript">Javascript</a>
   </li>
   <li class="portfolio-item">
    <a href="#" target="_blank" class="btn btn-ghost-accent portfolio-link portfolio-option" data-project-type="Edm">EDMs</a>
   </li>
   <li class="portfolio-item">
    <a href="#" target="_blank" class="btn btn-ghost-accent portfolio-link portfolio-option" data-project-type="Web">Web</a>
   </li>
   <li class="portfolio-item">
    <a href="#" target="_blank" class="btn btn-ghost-accent portfolio-link portfolio-option" data-project-type="Php">PHP</a>
   </li>
   <li class="portfolio-item">
    <a href="#" target="_blank" class="btn btn-ghost-accent portfolio-link portfolio-option" data-project-type="Logo">Logos</a>
   </li>
   <li class="portfolio-item">
    <a href="#" target="_blank" class="btn btn-ghost-accent portfolio-link portfolio-option" data-project-type="Banner">Banners</a>
   </li>
  </ul>
  <!-- End Options -->

  <!-- Row Results -->
  <div class="portfolio-results__container">
   <p class="portfolio-results__label pl-xl-20" id="portfolioCount">0 results found</p>

   <div class="portfolio-results__inner mt-40 mb-60 ml-xl-20 mr-xl-20" id="portfolioResultsContainer">

    <!-- Resulta -->

    

    <!-- End Resulta -->

   </div>
  </div>
  <!-- End Results -->
 </div>
</div>

{% include modal.html %}
{% include modal-image.html %}