---
layout: default
---


<h2 class="hex-primary page-title">{{ site.data.page-metas.about_me_title }}</h2>

<section class="grid-container" id="pageAboutMe">
 <div class="about-me__container container__flex mt-40">
  <div class="intro-img__section col-lg5 col-md5 align-content-center col-xs-12">
   <img src="{{site.baseurl}}/images/rap-about.png"  alt="Rap Esteva | About Me | {{sample.title}}" title="Rap Esteva | About Me | {{sample.title}}" class="intro-img__model" loading=lazy>
  </div>
 
  <div class="core-technologies__section col-offset-2 col-lg5 col-md5 col-xs-12">
   <h3 class="hex-dark mt-sm-30">My Core Technologies: </h3>
   <div class="core-technologies mt-md-30 mb-lg-30">
 
    <!-- Col 1 -->
    <div class="core core-code col-lg4">
     <i class="fas fa-laptop-code hex-primary core-icon"></i>
     <h4 class="hex-dark core-title hex-dark">Code</h4>
     <ul class="core-tech__list mt-40">
     
      <!-- Loop Code Tech -->
      {% for core in site.cores %}
        {% if core.type == 'Code' %}
          
          {% include core-tech.html %}

        {% endif%}
      {% endfor %}
      <!-- End Code Tech -->
     </ul>
    </div>
 
    <!-- Col 2 -->
 
    <div class="core core-design col-lg4">
     <i class="fas fa-palette hex-primary core-icon"></i>
     <h4 class="hex-dark core-title hex-dark">Design</h4>
     <ul class="core-tech__list mt-40">

      <!-- Loop Code Tech -->
      {% for core in site.cores %}
        {% if core.type == 'Design' %}

          {% include core-tech.html %}

        {% endif%}
      {% endfor %}
      <!-- End Code Tech -->

     </ul>
    </div>
 
 
   </div>
   <div class="core-technologies__buttons">
    <a href="/images/laravel-code-bright.pdf" class="btn btn-warning pr-lg20 mt-20 btn--animate btnDownload"  download><i class="fas fa-download"></i> Download CV</a>
    <a href="#" class="btn btn-primary pr-lg20 mt-20 btnDownload"><i class="fas fa-download" download></i> Download Resume</a>
   </div>
  </div>
 
 
 </div>
</section>

<section class="work-exp__section">
 <div class="section-title pt-50 pb-50 pb-sm-20">
  {% include bubble-title.html text='Work Experience '%}
 </div>
 <div class="works-container container__flex">

  <div class="works mt-40 pr-lg-30 pl-lg-30 pb-60">
    
    {% assign jobs = site.jobs | sort: 'end_date'  %}
    {% for job in jobs %}
      {% include snippet-job.html %}
    {% endfor %}
   
  </div>
 </div>
</section>

<section class="other-tech__section">
  <div class="section-title pt-50">
   {% include bubble-title.html text='Other Technologies '%}
  </div>

  <div class="other-tech__container pt-30 pb-60" id="techContainer">
    <!-- Insert Skills/Technologies here -->
    
    {% for tech in strapi.collections.skill-types %}
      {% include snippets/skill-type.html %}
    {% endfor %}
   
  </div>
</section>

<section class="awards__section pt-50 pb-60">
  <div class="section-title">
   {% include bubble-title.html text='Awards &amp; Certifications '%}
  </div>
  
  <div class="grid-container award-container pt-40" id="awardContainer">
  <!-- Insert Certifications here -->
  
  {% for cert in strapi.collections.certifications %}
   {% include snippets/cert.html %}
  {% endfor %}


  </div>

</section>

{% include snippets/modal-image.html %}