---
layout: default
title: E-diary
---
<!-- Got this loop from the Pages Collection -->
{% assign seo = site.pages | where:"permalink", "/e-diary/" | first %}
{% assign page_url = page.url %}



<div class="diaries__container">
  <h1 class="page-title hex-tertiary">{{ seo.title }}</h1>
  <p class="hex-dark page-description pt-20 pb-20">
    {{ seo.meta_description }}
  </p>
  
  <!-- Row Diary Categories -->
  <div class="diary-categories__container">
    <div class="diary-categories__wrapper">
      <h5 class="hex-white pt-20 pb-20 ml-xl-20">Categories: </h5>
      <ul class="diary-categories pb-20">
        <li class="diary-category__item">
          <a href="{{site.baseurl}}/e-diary/"
            class="diary-category__link {% if  page.slug == 'cat-all' %} diary-category--active {% endif %} ">All</a>
        </li>
        <li class="diary-category__item">
          <a href="{{site.baseurl}}/e-diary/categories/programming/"
            class="diary-category__link {% if page_url contains 'e-diary/categories/programming/ %} diary-category--active {% endif %}">Programming</a>
        </li>
        <li class="diary-category__item">
          <a href="{{site.baseurl}}/e-diary/categories/design/"
            class="diary-category__link {% if page_url contains 'e-diary/categories/design/ %} diary-category--active {% endif %}">Design</a>
        </li>
        <li class="diary-category__item">
          <a href="{{site.baseurl}}/e-diary/categories/travel/"
            class="diary-category__link {% if page_url contains 'e-diary/categories/travel/ %} diary-category--active {% endif %}">Travel</a>
        </li>
        <li class="diary-category__item">
          <a href="{{site.baseurl}}/e-diary/categories/family/"
            class="diary-category__link {% if page_url contains 'e-diary/categories/family/ %} diary-category--active {% endif %}">Family</a>
        </li>
        <li class="diary-category__item">
          <a href="{{site.baseurl}}/e-diary/categories/health/"
            class="diary-category__link {% if page_url contains 'e-diary/categories/health/ %} diary-category--active {% endif %}">Health &
            Wellness</a>
        </li>
        <li class="diary-category__item">
          <a href="{{site.baseurl}}/e-diary/categories/social/"
            class="diary-category__link {% if page_url contains 'e-diary/categories/social/ %} diary-category--active {% endif %}">Social</a>
        </li>
        <li class="diary-category__item">
          <a href="{{site.baseurl}}/e-diary/categories/personal/"
            class="diary-category__link {% if page_url contains 'e-diary/categories/personal/ %} diary-category--active {% endif %}">Personal</a>
        </li>
        <li class="diary-category__item">
          <a href="{{site.baseurl}}/e-diary/categories/sports/"
            class="diary-category__link {% if page_url contains 'e-diary/categories/sports/ %} diary-category--active {% endif %}">Sports</a>
        </li>
      </ul>
    </div>
  </div>
  <!-- End Diary Categories -->

  {{content}}
</div>