---
layout: default
---

<div class="chapter__container mt-30">
 <div class="chapter-heading__container">
  <h1 class="chapter-heading hex-primary">{{page.title}}</h1>
  <p class="chapter-meta">Published on {{ page.date | date: "%-d %B %Y" }} <span class="hex-accent"><strong>{{ page.author }}</strong></span> </p>
  <img src="{{site.baseurl}}/images/{{page.banner}}" alt="{{ page.title }}" title="{{ page.title }}" class="mt-30 chapter-banner">
 </div>

 <div class="chapter-content__container container__flex mt-30 mb-50">
  <div class="chapter-content col-lg9 col-md8 col-xs12">
   
   <div class="chapter-content__meta pl-20 pr-20 mb-20">
    <h5 class="hex-dark mb-10">Categories: Programming</h5>
    <a href="{{site.baseurl}}/e-diary/" class="hex-tertiary"><strong><i class="fas fa-arrow-left"></i> Back to E-diary</strong></a>
   </div>

   <!-- Looping for Content BLocks from CMS -->
   {% for block in page.blocks %}

    <!-- Condition to check which block type is chosen -->
    <!-- Then display the html layout -->
      {% if block.alignment == "one column" %}
        {% include blocks/one-column.html %}
      {% endif %}

      {% if block.alignment == "two columns" %}
         {% include blocks/two-columns.html %}
      {% endif %}

      {% if block.alignment == "two columns reverse" %}
         {% include blocks/two-columns-reverse.html %}
      {% endif %}
   {% endfor %}


    <a href="{{site.baseurl}}/e-diary/" class="hex-tertiary mt-20 mr-20 ml-20"><strong><i class="fas fa-arrow-left"></i> Back to E-diary</strong></a>
  </div>
  <aside class="chapter-sidebar col-lg3 col-md4 col-xs12 pb-50">
   <div class="chapter-categories__container mt-30">
    <h4 class="sidebar-title">Other Categories:</h4>
    <ul class="sidebar-categories__list">
     <li class="sidebar-category__item"><a href="#" class="sidebar-category__link">Programming</a></li>
     <li class="sidebar-category__item"><a href="#" class="sidebar-category__link">Design</a></li>
     <li class="sidebar-category__item"><a href="#" class="sidebar-category__link">Travel</a></li>
    </ul>
   </div>

   <div class="chapter-recent__container mt-30">
    <h4 class="sidebar-title">Recent Chapters:</h4>
    <ul class="sidebar-categories__list">
     {% for chapter in site.posts limit:4 %}

       <li class="sidebar-category__item"><a href="#" class="sidebar-category__link">{{ chapter.title }}</a></li>

     {% endfor %}
     
    </ul>
   </div>
  </aside>
 </div>
</div>


