---
layout: default
---


<div class="chapter__container mt-30">
 <div class="chapter-heading__container">
  <h1 class="chapter-heading hex-primary">{{page.title}}</h1>
  <div class="chapter-meta">
    <p>
      Published on {{ page.date | date: "%-d %B %Y" }} by
    </p>
    {% for author in page.authors %}
     <span class="chapter-author hex-accent">{{author.name}}</span>
    {% endfor %}
  </div>
  
  <img src="{{ page.banner }}" alt="{{ page.title }}" title="{{ page.title }}" class="mt-30 chapter-banner">
  {% if page.photographer %}
      <small class="hex-dark">Photography by: {{page.photographer}}</small>
  {% endif %}
 </div>

 <div class="chapter-content__container container__flex mt-30 mb-50">
  <div class="chapter-content col-lg9 col-md8 col-xs12">
   
   <div class="chapter-content__meta pl-20 pr-20 mb-20">
    <h6 class="chapter-category-meta hex-dark">
      Categories: 
      {% for category in page.categories %}
        <span class="chapter-category">
          <a href="{{site.baseurl}}/categories/{{category}}/" target="_blank" title="{{category}}" class="hex-tertiary">{{ category }}</a>
        </span>
      {% endfor %}
    </h6>
    <h6 class="chapter-category-meta hex-dark mb-20">
      Tags:
      {% for tag in page.tags %}
      <span class="chapter-category">
        <a href="{{site.baseurl}}/tags/{{tag}}/" target="_blank" title="{{tag}}" class="hex-tertiary">{{tag}}</a>
      </span>
      {% endfor %}
    </h6>
    <a href="{{site.baseurl}}/e-diary/" class="chapter-back mt-20 hex-tertiary"><strong><i class="fas fa-arrow-left"></i> Back to E-diary</strong></a>
   </div>

   <!-- Looping for Content BLocks from CMS -->
   {% for block in page.blocks %}

    <!-- Condition to check which block type is chosen -->
    <!-- Then display the html layout -->
      {% if block.alignment == "one column" %}
        {% include blocks/one-column.html %}
      {% endif %}

      {% if block.alignment == "two columns" %}
         {% include blocks/two-columns.html %}
      {% endif %}

      {% if block.alignment == "two columns reverse" %}
         {% include blocks/two-columns-reverse.html %}
      {% endif %}
   {% endfor %}


    <a href="{{site.baseurl}}/e-diary/" class="chapter-back hex-tertiary mt-30 mr-20 ml-20"><strong><i class="fas fa-arrow-left"></i> Back to E-diary</strong></a>
  </div>
  <aside class="chapter-sidebar col-lg3 col-md4 col-xs12 pb-50">
   <div class="chapter-categories__container mt-30">
    <h4 class="sidebar-title"> Categories:</h4>
    <ul class="sidebar-categories__list">
    
     
      {% include random-categories.html %}
    </ul>
   </div>

  <div class="chapter-recent__container mt-30">
    <h4 class="sidebar-title">Other Chapters:</h4>
    <ul class="sidebar-categories__list">
      {% include random-posts.html %}
  
    </ul>
  </div>

   <div class="chapter-recent__container mt-30">
    <h4 class="sidebar-title">Recent Chapters:</h4>
    <ul class="sidebar-categories__list">

     {% assign sorted = site.posts | sort: 'date' | reverse %} 
     {% for chapter in sorted limit:4 %}

       <li class="sidebar-category__item"><a href="{{site.baseurl}}{{chapter.url}}" class="sidebar-category__link" title="{{chapter.title}}">{{ chapter.title }}</a></li>

     {% endfor %}
     
    </ul>
   </div>

  <div class="sidebar-tags__container mt-40">
    <h5 class="sidebar-title hex-white">Tags:</h5>
    <ul class="sidebar-tags__list">
      {% include random-tags.html %}
    </ul>
  </div>
 
  </aside>
 </div>
</div>


