<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    <meta name="og:title" property="og:title" content="HTML Webpack">
    <meta name="description"
      content="This is my own boilerplate in making Front End Projects. I'm currently using Laravel Mix and Webpack.">
    <meta property="og:image" content="#">
    <meta property="og:url" content="#">
    
    
    <title>{{ page.title }} - {{ site.title }}</title>
    
    <!-- Row Styles -->
    <link rel="stylesheet" href="{{site.baseurl}}/dist/style.min.css">
    <link rel="shortcut icon" href="#">
  </head>
  <body>
    
  <div id="wrapper">
    <header>
      <!-- Header here -->
    </header>
    <div id="main">
      
    </div>
    <footer>
      footer
    </footer>
  </div>


    
    <script src="{{site.baseurl}}/dist/app.js"></script>
  </body>
</html>
