---
layout: default
---

<div class="grid-container">
  <h4 class="ml-lg-30 hex-tertiary">Chapters tagged as {{page.name}}: </h4>

  <a href="{{site.baseurl}}/e-diary/" class="chapter-back hex-dark mt-30 mr-20 ml-lg-30" onclick="history.back()"><strong><i
        class="fas fa-arrow-left"></i> Back to E-diary </strong></a>
</div>

<div class="grid-container category-chapter__card-list">
  {% for post in site.posts %}
  {% if post.tags contains page.name %}
  <div class="category-chapter__card">
    <a href="{{ post.url }}" target="_blank" class="category-chapter__card-link" title="{{ post.title }}">
      {{ post.title }}
    </a>
    <small class="category-chapter__card-date">{{ post.date | date: '%B %-d, %Y'}}</small>
  </div>
  {% endif %}
  {% endfor %}
</div>