{% if paginator.total_pages > 1 %}
  <ul class="pager">
   {% if paginator.previous_page %}
   <li class="previous pager__arrow-nav">
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' | remove: "index.html"}}"><i class="fas fa-arrow-left"></i> Back</a>
   </li>
   {% endif %}

   {% if paginator.page_trail %}
   {% for trail in paginator.page_trail %}
   <li {% if page.url==trail.path %}class="pager--selected" {% endif %}>
    <a href="{{ trail.path | prepend: site.baseurl | replace: '//', '/' | remove: "index.html" }}" title="{{trail.title}}">{{ trail.num }}</a>
   </li>
   {% endfor %}
   {% endif %}

   {% if paginator.next_page %}
   <li class="next pager__arrow-nav">
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' | remove: "index.html"}}">Next <i class="fas fa-arrow-right"></i></a>
   </li>
   {% endif %}

  </ul>
{% endif %}